{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
